- provide(:title, "About")
%body
  .textarea
    %h1 About
    %p Scheme Sprint is a tool for remembering, priotizing and ticking things off your bucket list.

    %p It's based on the idea that only two things can stop us getting through out bucket list: Time & money. It comes with built in ways of making the most of both these things.

    %p People all over the world using it as a fun way to prioritize the things that are important to them.

    %h3 How long does it take?
    %p Getting set up the first time can take a couple of hour on a quite sunday afternoon.
    %p Most days you will spend less than a few minutes ticking off tasks.
    %p On Sunday afternoon you might spend 20 minutes tally stuff up.

    %h3 When will i get result?
    %p Most people feel like the get heaps more done in their first week. It will take a month or so to really bed in the habits and be a real schemer.

    %h3 I have more questions?
    %p Sure, send through your questions here.