- provide(:title, "About")
%body
  .textarea
    %h1 About
    %p Dao Board is a system for priotizing time and money to live a more fufiling life.

    %p It's based on the idea that only two things can stop us getting things done: time and money. It comes with built in ways of making the most of both these things.

    %p People all over the world using it as a fun way to prioritize the things that are important to them.

    %h3 How long does it take?
    %p Getting set up the first time can take a couple of hour on a quite sunday afternoon.
    %p Most days you will spend less than a few minutes making small updates. On Sunday afternoon you might spend 20 minutes to

    %h3 When will I get result?
    %p You will get to tally up your points each week. So effectively you will have a good indication by week 2.

    %h3 I have more questions?
    %p Sure, send through your questions here.

    %h3 Is the Dao method for indviduals, coples or families?
    %p The method works well for any group of less than abotu 6 or 7. Over this, you will have too many people,
    with too many priorities.