- provide(:title, "Financing your Bucket List")
%h1 Funding your bucket list

%p Lots of people I talk to have a ‘bucket list’ that they like to talk about.  A list of things that they want to do with their lives.  I think even if we don’t call it that, most people have aspirations of some type.

%p For most people, these aspirations are constrained by one of two things. There are many things that can be achieved in time. Learning to code or play guitar, running 5km in 20 minutes, losing 20 pounds.  I these things are really things that are constrained only by time and motivations.

%p The other category of things are things that are going to be easy to find time and motivation for, but you can’t do because of money. These are things like backpacking around europe, learning to fly, going to space.

%p With these types of things is doesn’t matter how much motivation and time you find,  many of the things on my bucket list were getting stuck there because I had never really considered how to pay for them. If you don’t invest anytime in intentionally making these decisions, then you will never have the resources to solve for your financial constraints and complete those more expensive items on your bucket list..

%p One way of fixing this is the bucket list auction game.

%p You can play it on your own, with a partner or with your whole family, community group, city or even country.

%p How often you play the game is up to you. But every three months give you enough  time to know most of what is going to come up, and gives you some time to save up across multiple paychecks for bigger items.

%h2 What you will need?
%ul
  %li Some index cards (post notes are also ok, but do get more unwieldy)
  %li Your online banking expense summary so you can work out how much things cost.
  %li Some coins to split evenly between everyone.

%p Take an index card and make on as the heading of the 4 columns below

%p Summary		Ongoing Expenses		Spending Initiatives	Saving Initiatives


%h2 Summary

%p This is where you are going to work out what your total after tax income is going to be over the next three months. Both in a month card and the total over the next 3 months.

%p Later we will add a car that tell us how much free cash we are going to have to spend on our initiatives or bucket list items.


%h2 Ongoing Expenses
%p This part is the least exciting. Luckily most banking systems these days give you this information really easily that you can then tweak from.



%p I did mine I think you will probably have similar categories.

%p As you go through this list. Think about the items that you buy that are at your discretion. For me, I was pretty shocked that I spent $800/month on eating out and 270 a month on Uber, even though I feel like I catch the train 90% of the time.
%p I added these two items to my cost reduction list.

%h2 Bucket List
%p Now for the fun part everyone gets to brainstorm as many activities for the bucket as the like. There are not real limits on this other than how much time you want to spend researching costs.

%p Once you have created the list. Let everyone start letting everyone allocate money to the ideas they like. YOu might like to do this by putting the coins on top of the card. Ideas that get funded, in the first round will got to the top of the list and be locked in.

%p Once everyone has spent all their money. You can see which results have been funded and add them to the backlog list for the season.

%p Now everyone gets the money they put to ideas that didn’t get funded back, and you get to play again. The process repeats until there is no money left to spend, or that there are three or more turns in a row where no new idea gets funding.  If there are left overs, than you will have a surplus that you can spend more next season.

%p Now you can prioritise the list in terms of which is most important and should be ensured that they happen. To things that are less important and might be missed out on if something else comes up that is more important.

%h2 Reductions

%p The reduction column is where people everyone gets to vote on expenses that can be reduced.  This might be things like, eating out once a week instead of twice. Disconnecting the cable or sharing one car instead of 2.

%p An expense can only be removed if there is a consensus and everyone agrees. If everyone agrees, you can remove an expense. More money is added to the bucket list kitty for spending.


%h2 Result

%p Once you are finished you will got a plan for funding the things that you aren your group are the most valuable and have a much better chance of sticking to it.
