.container
	.center.jumbotron.home-hero
  	%h1 Welcome to Dao Board
  	%h2 The round about way of hacking your time

		= link_to "Make your Dao Board, its free", signup_path, class: "btn btn-lg btn-primary"