.center.jumbotron
  %h1 Climb Everest, Lose 20 pounds, Pat a Donkey
  %h2
    We don't really give a f#ck about what is on your bucket list
  = link_to "Let's just make it happen!", signup_path, class: "btn btn-lg btn-primary" |