.container
	.center.jumbotron.home-hero
		%h1 Welcome to Dao Board
		%h2 The round about way of hacking your time
		.home-video
			%iframe{:src => "https://www.loom.com/embed/dcfad74355d0476fa9be8e4d88e49fd4", width: "640", height: "360" }

		= link_to "Make your Dao Board, its free", signup_path, class: "btn btn-lg btn-primary"



