.container
  .center.jumbotron.home-hero
    %h1 Smart Goal Templates
    %h2 Specific, Measurable, Attainable, Relevant and Time-based
    = link_to "SMART Goal Template", signup_path, class: "btn btn-lg btn-primary"

    %p The SMART goal framwork helps us create goals that make sense.

    %h2 Specific
    %p We often try to come up with goals that sound aspirational. The problem with aspiratational sounding goals is
    that they aren't clear enough to other or our own subconsious.

    %h2 Measruable


    %h2 SMART Goals in the Dao Method
    %p Daoboard uses the concept smart goals and OKR's on the three Horizons list. This is where we plan out the big things
    we want to achieve over.

    %p By using smrt goals we ensure that we don't expand that effort on goals that aren't worthwhile or specific enough to get to.

