%h1 Hi #{@user.name}

%p Welcome to Joshman's app. PLease click the link to activate your account.
= link_to('Activate', edit_account_activation_url(@user.activation_token, email: @user.email))

%p  #{@greeting}, find me in app/views/user_mailer_mailer/account_activation.html.haml

